node_modules
.DS_Store
.py[co]
__pycache__
.log
src/files/*.pdf
!src/programs/logs/.keep
src/programs/logs/
src/lua-bundle
*.bin
broker/db_view*.txt
broker/broker
broker/broker.log
src/microcontrollers/particle-photon/*/target
build/config.gypi
