[Unit]
Description=Text To Speech Proxy Service
After=network.target

[Service]
Type=simple
User=root
# Copy this file to /etc/systemd/system
# sudo systemctl daemon-reload
# sudo systemctl start text-to-speech
# Run at boot: sudo systemctl enable text-to-speech
Environment=PATH=/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games:/usr/local/go/bin:/home/pi/.local/bin
Environment=PROG_SPACE_SERVER_URL='192.168.1.34'
Restart=always
ExecStart=/usr/bin/node /home/pi/lovelace/src/standalone_processes/793__textToSpeech.js
ExecStop=/usr/bin/pkill -f standalone_processes/793__textToSpeech.js

[Install]
WantedBy=multi-user.target
